<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>my orders</title>
  <link rel="stylesheet" href="/public/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/public/stylesheets/templatemo.css">
  <link rel="stylesheet" href="/public/stylesheets/custom.css">

  <!-- Load fonts style after rendering the layout styles -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
  <link rel="stylesheet" href="/public/stylesheets/fontawesome.min.css">
  <link rel="stylesheet" href="/public/stylesheets/myorder.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
    <div class="container text-light">
        <div class="w-100 d-flex justify-content-between">
            <div>
                <i class="fa fa-envelope mx-2"></i>
                <a class="navbar-sm-brand text-light text-decoration-none"
                    href="mailto:info@company.com">getkart@company.com</a>
                <i class="fa fa-phone mx-2"></i>
                <a class="navbar-sm-brand text-light text-decoration-none" href="tel:010-020-0340">010-020-0340</a>
            </div>
            <div>
                <a class="text-light" href="https://fb.com/templatemo" target="_blank" rel="sponsored"><i
                        class="fab fa-facebook-f fa-sm fa-fw me-2"></i></a>
                <a class="text-light" href="https://www.instagram.com/" target="_blank"><i
                        class="fab fa-instagram fa-sm fa-fw me-2"></i></a>
                <a class="text-light" href="https://twitter.com/" target="_blank"><i
                        class="fab fa-twitter fa-sm fa-fw me-2"></i></a>
                <a class="text-light" href="https://www.linkedin.com/" target="_blank"><i
                        class="fab fa-linkedin fa-sm fa-fw"></i></a>
            </div>
        </div>
    </div>
</nav>
<!-- Close Top Nav -->


<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-light shadow">
    <div class="container d-flex justify-content-between align-items-center">

        <a class="navbar-brand text-success logo h1 align-self-center" href="index.html">
            GETkart
        </a>

        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
            data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between"
            id="templatemo_main_nav">
            <div class="flex-fill">
                <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/shop">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="userhome/order">My orders</a>
                    </li>
                </ul>
            </div>
            <div class="navbar align-self-center d-flex">


                <a class="nav-icon position-relative text-decoration-none" href="/userhome/cart">
                    <i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>
                    <span
                        class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark">7</span>
                </a>
                <a class="nav-icon position-relative text-decoration-none" href="/userhome/profile">
                    <i class="fa fa-fw fa-user text-dark mr-3"></i>
                    <span
                        class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark">+99</span>
                </a>
            </div>
        </div>

    </div>
</nav>
  <section class="vh-100 gradient-custom-2">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-10 col-lg-8 col-xl-6">
          <div class="card card-stepper" style="border-radius: 16px;">
            <div class="card-header p-4">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <p class="text-muted mb-2"> <span class="fw-bold text-body"> </span></p>
                  <p class="text-muted mb-0"> Place On <span class="fw-bold text-body">
                      <%= docs.Date %>
                    </span> </p>
                </div>
                <div>
                
                </div>
              </div>
            </div>
            <% for(i=0;i<document.length;i++){ %>
              <div class="card-body p-4">
                <div class="d-flex flex-row mb-4 pb-2">
                  <div class="flex-fill">
                    <h5 class="bold">
                      <%= document[i].productname %>
                    </h5>
                    <p class="text-muted">
                      <%= document[i].quantity %> item
                    </p>
                    <h4 class="mb-3">
                      <%= document[i].price %> /-<span class="small text-muted"> via <%= document[i].payment %> </span>
                    </h4>
                    <p class="text-muted">Tracking Status on: <span class="text-body"><%= docs.status  %> </span></p>
                  </div>
                  <div>
                    <img class="align-self-center img-fluid" src="/public/images/<%= document[i].image  %> "
                      width="250">
                  </div>
                </div>
                <% } %>

              </div>
              <div class="card-footer p-4">
                <div class="d-flex justify-content-between">
              
                  <div class="border-start h-100"></div>
                  <% if(docs.status=="delivered"){  %> 
                    <% }else{ %> 
                  <h5 class="fw-normal mb-0"><a href="/userhome/cancellorder?id=<%= docs._id  %> ">Cancel</a></h5>
                  <% } %> 
                  <div class="border-start h-100"></div>

                  <div class="border-start h-100"></div>
                  <h5 class="fw-normal mb-0"><a href="#!" class="text-muted"><i class="fas fa-ellipsis-v"></i></a>
                  </h5>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>












  <script src="/public/javascripts/jquery-1.11.0.min.js"></script>
  <script src="/public/javascripts/jquery-migrate-1.2.1.min.js"></script>
  <script src="/public/javascripts/bootstrap.bundle.min.js"></script>
  <script src="/public/javascripts/templatemo.js"></script>
  <script src="/public/javascripts/custom.js"></script>
</body>

</html>